.footer__container
  .logo__container_footer
    a(href="#", class="logo__link")
      img.logo__img(src="", alt="")
  .itstudio__container
    a(href="#", class="itstudio__link")
      img.itstudio__img(src="", alt="")
  .ul.contacts__list
    li.contacts__item
      .contacts__text.phone (812) 495-49-50
    li.contacts__item
      .contacts__text.addr Cанкт-Петербург, пр. Обуховской Обороны, д.1122 лит "И"
    li.contacts__item
      .contacts__text.email zakaz@rbrgroup.ru
<!-- build:js js/vendor.js --> 
//bower:js
script(src='bower/jquery/dist/jquery.js')
//endbower
script(src='js/jquery.mousewheel.min.js')  
<!-- endbuild --> 

<!-- build:js js/plugin.js --> 
script(src="js/plugin.js")
<!-- endbuild --> 

<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild --> 