.header__container
  .logo__container
    a(href="#", class="logo__link")
      img.logo__img(src="", alt="")
  .cityselect__container
    .cityselect__selected Санкт-Петербург
    ul.cityselect__list
      each item in ['Москва', 'Санкт-Петербург']
        li(data-value="", class="cityselect__item")=item
  address.firm-address
    firm-address__text Санкт-Петербург, пр.Обуховской Обороны, д.112/2, лит "И"
  .callback__container
    p.callback__phonenumber (812) 495-49-50
    a(href="", class="callback__link") Обратный звонок
  include ../common/topmenu.jade
