.topmenu__container
  ul.topmenu__list
    each item, index in ['Области применения', 'Как мы работаем', 'Отзывы ', 'О компании', 'Контакты']
      li.topmenu__item
        a(href='#' class='topmenu__link' + ((index == 1) ? 'active' : '' ))=item
